html {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: 0 10vw;
}
.titlecard {
    background-color: #1f2937;
    display: flex;
}
.headerlogo {
    width: 80px;
    height:auto;
    border-radius: 50%;
    object-fit: cover;
}
.titlecardbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 350px;
    width: 400px;
    gap: 60px;

}

button {
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
}
#titlecardimage {
    height: auto;
    width: auto;
    justify-self: flex-end;

}
.titlecard {
    justify-content: center;
    padding: 0px 48px 48px 48px;
    gap: 28px;
    flex-shrink: 1;
}
h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin:0px;
}
.titletext {
    color: #EFE7EB;
}
.links {
    font-size: 18px;
    color: #EFE7EB;
    display: flex;
    align-self: flex-end;
    gap: 10px;
}
a {
    text-decoration: none;
    color: #EFE7EB;
}
.static {
    flex-shrink: 0;
}
.imagecard {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
}

.studyimage {
    width: 200px;
    height: auto;
    border-radius: 25px;
    border: 5px solid #3882F6;
}
.study {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;

}
.featuredstudies {
    display: flex;
    gap: 20px;
    justify-content: center;
}